*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: myFirstFont;
    src: url(harrypotterfont.TTF);
}

.HPFont{
    font-family: myFirstFont;
    font-size: 200px;
    transition: font-size 1s;
}

.HPFont:hover{
    font-size: 175px;
}

.background__transparent{
    background-color: rgba(0, 0, 0, .6);
    margin: auto;
}

body {
    background-color: black;
    color: white;
}

header nav{
    background-color: black;
    color: white;
}

.header__link--logo{
    width: 200px;
    margin: 0 250px 0 0;
}

.header__logo{
    display: flex;
    width: 150px;
}

.menu {
    color: white;
    font-size: 30px;
    font-family: myFirstFont;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__item{  
    display: inline-block;
}

.menu__link{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    border: 2px solid black;
}


.menu__link:hover{ 
    background-color: #0B0E09;
    color: #E6B801;
    border-radius: 5px;
    border-color: #E6B801;
    font-size: 40px;
    transition: border 1s;
}

a:hover{
    color: #E6B801;
}

/*CSS del main*/

main{
    width: 100%;
}

h1{
    font-family: myFirstFont;
    font-size: 70px;
    text-align: center;
    margin-bottom: 50px;
    margin: auto;
    background-color: rgba(0, 0, 0, .6);
    width: 35%;
    border-radius: 15px;
}

.main__flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main__texto{
    width:75%;
}

.main__subtitulo{
    font-family: 'Century Gothic',sans-serif;
    font-size: 40px;
    margin:auto;
    text-align: center;
}

.main__parrafo{
    font-family: 'Century Gothic',sans-serif;
    padding: 1em;
}

.container{
    margin: 15px auto;
}

.parallax {

    background-image: url("../imagenes/castle.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: auto; */
}
   
/*CSS del footer*/
footer{ 
    background-image: url("../imagenes/footerthunder.jpg");
    background-size: cover;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer__text{
    display: inline-block;
    font-family: 'Century Gothic',sans-serif;
    margin-right: 100px;
}
.footer__imagenes{
    display: inline-block;
}

/*Autora Exclusive*/
.main__section--1{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top:2px solid #E6B801;
    border-left: 2px solid #E6B801;
}

.main__parrafo--inline{
    display: inline-block;
    margin-bottom: 50px;
}

.main__foto--inline{
    display: inline-block;
    text-align: center;
    width: 50%;
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main__foto--inline:hover{
    transform: rotate(10deg)
}
.main__foto--padding{
    height: 500px;
    border-radius: 50%;
}

.main__section--2{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    border-bottom:2px solid #E6B801;
    border-right: 2px solid #E6B801;
}

.main__video{
    text-align: center;
    margin:0 auto;
    transition: transform 0.6s;
    width: 65%;
}

.main__video--size{
    height:300px;
}

.main__video:hover{
    transform: scale(1.1);
}

/*Personajes Exclusive*/
.main__personajes__impar{
    display: flex;
    flex-direction: row;
    border-left: 2px solid #E6B801;
    margin-bottom: 10px;
}

.main__personajes__par{
    display: flex;
    flex-direction: row;
    border-right: 2px solid #E6B801;
    margin-bottom: 10px;
}

.main__parrafo--derecha{
    margin: auto;
}

.main__foto--izquierda{
    max-height: 329px;
    margin: auto;
}
/*Merch exclusive*/
.main__tabla--titulos{
    margin: 0 125px 0 125px;
}

.main__tabla--titulos--align{
    text-align: center;
    border-style: dashed;
    font-size: 35px;
    margin-bottom: 50px;
    font-family: 'Bookman Old Style',sans-serif;
}

.main__tabla--primerafila{
    margin: 0 90px 10px 90px;
}

.main__tabla--primerafila--align{
    text-align: center;
    font-size: 15px;
    padding-bottom: 50px;
    font-family: 'Bookman Old Style',sans-serif;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 clamp(300px, 30%, 400px);
}

.box__img{
    margin: auto;
}
.box__img__maxwidth{
    max-width: 320px;
}

.main__tabla--foto{
    width: 200px;
}

/*Contacto exclusive*/
.main__parrafo--contacto{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Bookman Old Style',sans-serif;
    font-size: 20px;
}





.main__form{
    text-align: center;
    font-family: 'Bookman Old Style',sans-serif;
    width: 65%;
    margin: auto;
}

@media (min-width:0px) and (max-width: 320px){

    

    .header__link--logo{
        margin: auto;
        justify-content: center;
        width: 50%;
    }

    .header__logo{
        margin: auto;
        width: 100px;
    }
    header{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .menu{
        justify-content: center;
        align-items: center;
    }
    .menu__item{  
        display:flex;
        justify-content: center;
        align-items: center;
    }

    ul{
        padding: 0;
    }
    .main__subtitulo{
        font-size: 30px;
    }

    .container{
        max-width: 100% ;
        margin: 0;
        padding: 0;
    }

    h1{
        font-size: 70px;
        min-width:50% ;
    }

    .main__flex{
        max-width: 100%;
        align-items: center;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .main__texto{
        width: 100%;
    }

    .main__parrafo{
        font-size: 15px;
    }

    .background__transparent{
        width: 100%;
    }

    .HPFont{
        font-size: 70px;
    }

    .HPFont:hover{
        font-size: 70px;
    }

    .footer__text{
        margin: 1em;
    }

    div a img{
        width:30px;
    }

    header nav div form{
        margin-bottom: 15px;
    }
    /*Autora*/

    .main__video{
        width: 100%;
    }
    
    .main__section--1{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    

    .main__parrafo{
        margin: auto;
        width: 95%;
    }
    .main__foto--inline{
        width:100%;
    }
    .main__foto--padding{
        padding:0;
        max-height: 332px;
    }
    
    .main__section--2{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 500px;
    }
    .main__video{
        text-align: center;
        padding-bottom: 50px;
        width: 100%;
    }

    /*Personajes*/
    .main__personajes__impar{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 2px solid #E6B801;
        margin-bottom: 30px;
    }

    .main__personajes__par{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 2px solid #E6B801;
        margin-bottom:30px ;
    }


}

 @media (min-width:321px) and (max-width: 507px) {

    
    .header__link--logo{
        margin: auto;
        justify-content: center;
        width: 50%;
    }

    .header__logo{
        margin: auto;
        width:100px;
    }
    header{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .menu{
        justify-content: center;
        align-items: center;
    }
    .menu__item{  
        display:flex;
        justify-content: center;
        align-items: center;
    }

    ul{
        padding: 0;
    }

    .HPFont{
        font-size: 70px;
    }

    .footer__text{
        margin: 1rem;
    }

    .footer__imagenes{
        width: auto;
    }

    div a img{
        width:30px;
    }

    .container{
        max-width: 90% ;
    }

    .main__flex{
        max-width: 100%;
        align-items: center;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .main__texto{
        width: 90%;
    }

    .background__transparent{
        width: 90%;
    }

    .main__subtitulo{
        font-size: 30px;
    }

    header nav div form{
        margin-bottom: 15px;
    }
    /*Autora*/
    .main__video{
        width: 100%;
    }
    
    .main__section--1{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    

    .main__parrafo{
        margin: auto;
        width: 95%;
    }
    .main__foto--inline{
        width:100%;
    }
    .main__foto--padding{
        padding:0;
        max-height: 332px;
    }
    
    .main__section--2{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 500px;
    }
    .main__video{
        text-align: center;
        padding-bottom: 50px;
        width: 100%;
    }
    /*Personajes*/
    .main__personajes__impar{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 2px solid #E6B801;
        margin-bottom: 30px;
    }

    .main__personajes__par{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 2px solid #E6B801;
        margin-bottom: 30px;
    }
} 
@media (min-width: 507px) and (max-width: 768px){
    .header__link--logo{
        margin: auto;
        justify-content: center;
        width: 50%;
    }

    .header__logo{
        margin: auto;
    }
    header{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .menu{
        justify-content: center;
        align-items: center;
    }
    .menu__item{  
        display:flex;
        justify-content: center;
        align-items: center;
    }

    ul{
        padding: 0;
    }

    .HPFont{
        font-size: 130px;
    }

    .footer__text{
        margin: 1rem;
    }

    .footer__imagenes{
        width: auto;
    }

    div a img{
        width:50px;
    }

    .container{
        max-width: 90% ;
    }

    .main__flex{
        max-width: 100%;
        align-items: center;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .main__texto{
        width: 90%;
    }

    .background__transparent{
        width: 90%;
    }

    /*Autora*/
    .main__video{
        width: 100%;
    }
    
    .main__section--1{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    

    .main__parrafo{
        margin: auto;
        width: 95%;
    }
    .main__foto--inline{
        width:100%;
    }
    .main__foto--padding{
        padding:0;
        max-height: 332px;
    }
    
    .main__section--2{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 500px;
    }
    .main__video{
        text-align: center;
        padding-bottom: 50px;
        width: 100%;
    }
    /*Personajes*/
    .main__personajes__impar{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 2px solid #E6B801;
        margin-bottom: 30px;
    }

    .main__personajes__par{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 2px solid #E6B801;
        margin-bottom: 30px;
    }
}

@media (min-width:769px) and (max-width: 958px) {
    header{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .header__link--logo{
        margin: auto;
    }

    .main__flex{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .HPFont{
        font-size: 130px;
    }

    .footer__text{
        margin: 1rem;
    }

    .footer__imagenes{
        width: auto;
    }

    div a img{
        width:50px;
    }

    .container{
        max-width: 90% ;
    }

    .main__flex{
        max-width: 100%;
        align-items: center;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .main__texto{
        width: 90%;
    }

    .background__transparent{
        width: 90%;
    }

    /*Autora*/
    .main__video{
        width: 100%;
    }
    
    .main__section--1{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    

    .main__parrafo{
        margin: auto;
        width: 95%;
    }
    .main__foto--inline{
        width:100%;
    }
    .main__foto--padding{
        padding:0;
        max-height: 332px;
    }

    .main__section--2{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 500px;
    }
    
    .main__video{
        text-align: center;
        padding-bottom: 50px;
        width: 100%;
    }

    /*Personajes*/
    .main__personajes__impar{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 2px solid #E6B801;
    }

    .main__personajes__par{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 2px solid #E6B801;
    }
}

/*MERCH MEDIA QUERIES*/
@media (min-width:958px) and (max-width: 1400px) {
    .container{
        max-width: 90%;
    }

    .box__img__maxwidth{
        max-width: 290px;
    }
}

@media (min-width:768px) and (max-width: 840px) {
    .container{
        max-width: 90%;
    }

    .box__img__maxwidth{
        max-width: 285px;
    }
}

@media (min-width:0px) and (max-width: 452px) {
    main section{
        width: 100%;
        max-width: 100% ;
        margin: 0;
        padding: 0;
    }
    main section article{
        width: 100%;
        max-width: 100% ;
        margin: 0;
        padding: 0;
    }
    .container{
        max-width: 100% ;
        margin: 0;
        padding: 0;
    }
    .box{
        max-width: 100% ;
        margin: 0;
        padding: 0;
    }
    .background__transparent{
        width: 100% ;
        padding: 0;
    }
    h1{
        font-size: 70px;
        min-width:50% ;
    }

}

/*CORRECCIÓN PARA EL HOME*/
@media (min-width: 507px) and (max-width: 536px){
    .HPFont{
        font-size: 70px;
    }
}