<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="JK Rowling, escritora de toda la saga de Harry Potter, una biografía de ella y una entrevista hablando del mundo de Harry Potter">
    <meta name="keywords" content="JK Rowling, Autora Harry Potter, Entrevista, Harry Potter, Hogwarts, Magia">
    <title>Autora || Mundo Harry Potter</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/translated.css">
    <link rel="shortcut icon" href="../imagenes/logo.png">
</head>
<body>
    <header>
        <a href="../index.html" class="header__link--logo">
            <img src="../imagenes/logo.png" alt="Es una imagen que representa el logo de las reliquias de la muerte de Harry Potter" class="header__logo">
        </a>
        <nav class="menu">
            <ul>
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="./autora.html" class="menu__link">Autora</a>
                </li>
                <li class="menu__item">
                    <a href="./personajes.html" class="menu__link">Personajes</a>
                </li>
                <li class="menu__item">
                    <a href="./merch.html" class="menu__link">Merch</a>
                </li>
                <li class="menu__item">
                    <a href="./contacto.html" class="menu__link">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="parallax container">
        <h1>Autora</h1>
        <section class="main__section--1 background__transparent">
        <div class="main__texto main__parrafo--inline">
            <h2 class="main__subtitulo">Biografía</h2>
            <p class="main__parrafo">Joanne "Jo" Rowling, nacida en Yate, Reino Unido, 31 de julio de 1965, mejor conocida como J. K. Rowling, es la autora británica de la historia fantástica de Harry Potter, el niño mago huérfano. Nació en Chipping Sodburry, South Gloucestershire.Su editor, Bloomsbury, quiso que ella utilizara sus iniciales en la portada de los libros de Harry Potter, indicando que un nombre femenino en la portada atraería menos el interés de los niños, por lo que decidió utilizar el nombre de su abuela paterna "Kathleen".
            En febrero de 2004, la revista Forbes indicó que la fortuna de Rowling ascendía a 576 millones de libras esterlinas, convirtiéndose en la primera persona en hacerse millonaria escribiendo libros. Es la mujer más rica del Reino Unido, y mucho más rica que la reina Isabel II.
            La escritora obtuvo el Premio Príncipe de Asturias de la Concordia en el año 2003.
            Los fanáticos de la serie Harry Potter son llamados PotterHeads. Rowling ha escrito Los cuentos de Beedle el Bardo, Animales fantásticos y dónde encontrarlos y Quidditch a través de los tiempos que complementan la serie Harry Potter. Al principio solo se habían hecho 7 copias hechas a mano de Los cuentos de Beedle el Bardo, 6 vendidas y uno subastado, todo el dinero fue donado a caridad, pero después Rowling decidió publicarlo para destinar el dinero recaudado de todas las copias vendidas a caridad, este proyecto lo llevó a cabo con la Baronesa de Inglaterra.</p>
        </div>
        <div  class="main__foto--inline">
            <img src="../imagenes/jkrowling.jpg" alt="Imagen que contiene a JK Rowling, autora de los libros de Harry Potter" class="main__foto--padding">
        </div>
        </section>
        <section>
            <h2 class="main__subtitulo">Entrevista</h2>
            <div class="main__video">
                <iframe  src="https://www.youtube.com/embed/TtF7xrdXUm8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen  ></iframe>
            </div>
        </section>
    </main>
    <footer>   
        <div class="footer__text">
            <p>Esta página es realizada sin fines de lucro ni comerciales</p>
            <p>Copyright Santiago Sierra </p>
        </div>
        <div class="footer__imagenes">
            <a href="">
                <img src="../imagenes/facebook.png" alt="Logo de Facebook dark" width="50px">
            </a>
            <a href="">
                <img src="../imagenes/instagram.png" alt="Logo de instagram dark" width="50px">
            </a>
            <a href="">
                <img src="../imagenes/twitter.png" alt="Logo de twitter dark" width="50px">
            </a>
        </div>
    </footer>
</body>
</html>