<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../imagenes/logo.png">
</head>
<body>
    <header>
        <a href="../index.html" class="header__link">
            <img src="../imagenes/logo.png" alt="Es una imagen que representa el logo de las reliquias de la muerte de Harry Potter" class="header__logo">
        </a>
        <nav class="menu">
            <ul>
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="./autora.html" class="menu__link">Autora</a>
                </li>
                <li class="menu__item">
                    <a href="./personajes.html" class="menu__link">Personajes</a>
                </li>
                <li class="menu__item">
                    <a href="./merch.html" class="menu__link">Merch</a>
                </li>
                <li class="menu__item">
                    <a href="./contacto.html" class="menu__link">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="parallax">
        <h1>Contacto</h1>
        <div class="main__parrafo--contacto">
            <p>A través del siguiente formulario déjanos por favor tus comentarios a cerca de la página, nos encanta leerte!</p>
        </div>
        <div class="main__form">
            <form action="" method="post" enctype="multipart/form-data">
                <div>
                    <label for="nombre_completo">Nombre Completo</label>
                    <input type="text" name="nombre" placeholder="Ingresa tu nombre completo">
                </div>
                <div>
                    <label for="correo_electronico">Email</label>
                    <input type="text" name="correo_electronico" placeholder="Ingresa tu correo electronico">
                </div>
                <div>
                    <label for="comentarios">Mensaje</label>
                    <textarea name="comentarios" id="" cols="30" rows="10" placeholder="Ingresa tu comentario"></textarea> 
                </div>

                <input type="submit" value="Enviar">
                <input type="reset" value="Borrar formulario">

            </form>
        </div>
    </main>
    <footer>   
        <div class="footer__text">
            <p>Esta página es realizada sin fines de lucro ni comerciales</p>
            <p>Copyright Santiago Sierra </p>
        </div>
        <div class="footer__imagenes">
            <a href="">
                <img src="../imagenes/facebook.png" alt="Logo de Facebook dark" width="50px">
            </a>
            <a href="">
                <img src="../imagenes/instagram.png" alt="Logo de instagram dark" width="50px">
            </a>
            <a href="">
                <img src="../imagenes/twitter.png" alt="Logo de twitter dark" width="50px">
            </a>
        </div>
    </footer>
</body>
</html>