<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merch</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../imagenes/logo.png">
</head>
<body>
    <header >
        <a href="../index.html" class="header__link">
            <img src="../imagenes/logo.png" alt="Es una imagen que representa el logo de las reliquias de la muerte de Harry Potter" class="header__logo">
        </a>
        <nav class="menu">
            <ul>
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="./autora.html" class="menu__link">Autora</a>
                </li>
                <li class="menu__item">
                    <a href="./personajes.html" class="menu__link">Personajes</a>
                </li>
                <li class="menu__item">
                    <a href="./merch.html" class="menu__link">Merch</a>
                </li>
                <li class="menu__item">
                    <a href="./contacto.html" class="menu__link">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="parallax">
        <h1>Merch</h1>
        <div class="main__tabla--titulos--align">
            <span class="main__tabla--titulos">Ítem</span>
            <span class="main__tabla--titulos">Descripción</span>
            <span class="main__tabla--titulos">Foto</span>
            <span class="main__tabla--titulos">Precio</span>
        </div>
        <div class="main__tabla--primerafila--align">
            <span class="main__tabla--primerafila">Set de libros</span>
            <span class="main__tabla--primerafila">Los 7 libros de la saga en perfecta condición</span>
            <span class="main__tabla--primerafila"><img src="../imagenes/libros.jpg" alt="Imagen que contiene libros de la saga de Harry Potter" class="main__tabla--foto"></span>
            <span class="main__tabla--primerafila">$80 USD</span>
        </div>
        <div class="main__tabla--primerafila--align">
            <span class="main__tabla--primerafila">Varita de Sauco</span>
            <span class="main__tabla--primerafila">Varita de sauco usada por Albus Dumbledore</span>
            <span class="main__tabla--primerafila"><img src="../imagenes/varitadesauco.jpg" alt="Imagen que contiene libros de la saga de Harry Potter" class="main__tabla--foto"></span>
            <span class="main__tabla--primerafila">$100 USD</span>
        </div>
        <div class="main__tabla--primerafila--align">
            <span class="main__tabla--primerafila">Piedra de resurrección</span>
            <span class="main__tabla--primerafila">Piedra original de la película usada por Harry</span>
            <span class="main__tabla--primerafila"><img src="../imagenes/piedraderesurreccion.jpg" alt="Imagen que contiene la piedra de resurrección de la saga de Harry Potter" class="main__tabla--foto"></span>
            <span class="main__tabla--primerafila">$200 USD</span>
        </div>
    </main> 
    <footer>   
        <div class="footer__text">
            <p>Esta página es realizada sin fines de lucro ni comerciales</p>
            <p>Copyright Santiago Sierra </p>
        </div>
        <div class="footer__imagenes">
            <a href="">
                <img src="../imagenes/facebook.png" alt="Logo de Facebook dark" width="50px">
            </a>
            <a href="">
                <img src="../imagenes/instagram.png" alt="Logo de instagram dark" width="50px">
            </a>
            <a href="">
                <img src="../imagenes/twitter.png" alt="Logo de twitter dark" width="50px">
            </a>
        </div>
    </footer>
</body>
</html>