main{
    width: 100%;

    h1{
        font-family: myFirstFont;
        font-size: 70px;
        text-align: center;
        margin-bottom: 50px;
        margin: auto;
        background-color: rgba(0, 0, 0, .6);
        width: 200px;
    }

    .main__flex{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .main__texto{
        width:45%;
    }
    
    .main__subtitulo{
        font-family: 'Century Gothic',sans-serif;
        font-size: 40px;
        margin:auto;
        text-align: center;
    }
    
    .main__parrafo{
        font-family: 'Century Gothic',sans-serif;
        padding: 1em;
    }
    
    .parallax {
    
        background-image: url("../imagenes/castle.jpg");
        min-height: 600px;
        
         background-attachment: fixed;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
           
         /* margin-bottom:50px; */
    }

    .main__parrafo--inline{
        display: inline-block;
        margin-bottom: 50px;
    }
    
    .main__foto--inline{
        display: inline-block;
        text-align: center;
        width: 50%;
        transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    
    .main__foto--inline:hover{
        transform: rotate(10deg)
    }
    .main__foto--padding{
        padding-bottom: 75px;
        height: 500px;
        padding-left: 200px;
    }
    
    .main__video{
        text-align: center;
        padding-bottom: 50px;
        transition: transform 0.6s;
        @include sizes(500px,450px)
    }
    
    .main__video:hover{
        transform: scale(2);
    }

    /*Personajes*/
    $personajes: (
    harry: "harry",
    hermione: "hermione",
    ronweasley: "ron",
);

@each $key,$val in $personajes {
    .main__foto--#{$key}{
        height: 400px;
        background-size: cover;
        background-image: url('../../imagenes/#{$val}.jpg');
        gap: map-get($spacings, $spacing-xsmall);
    }
}
}

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: myFirstFont;
    src: url(harrypotterfont.TTF);
}

.HPFont{
    font-family: myFirstFont;
    font-size: 200px;
    transition: font-size 1s;
}

.HPFont:hover{
    font-size: 150px;
}

.background__transparent{
    background-color: rgba(0, 0, 0, .6);
}

body {
    background-color: black;
    color: white;
}

