@media (min-width:0px) and (max-width: 320px){

    

    .header__link--logo{
        margin: auto;
        justify-content: center;
        width: 50%;
    }

    .header__logo{
        margin: auto;
        width: 100%;
    }
    header{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .menu{
        justify-content: center;
        align-items: center;
    }
    .menu__item{  
        display:flex;
        justify-content: center;
        align-items: center;
    }

    ul{
        padding: 0;
    }
    .main__subtitulo{
        font-size: 30px;
    }

    .container{
        max-width: 100% ;
        margin: 0;
        padding: 0;
    }

    .main__flex{
        max-width: 100%;
        align-items: center;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .main__texto{
        width: 100%;
    }

    .background__transparent{
        width: 100%;
    }

    .HPFont{
        font-size: 70px;
    }

    .footer__text{
        margin: 1em;
    }

    div a img{
        width:30px;
    }

    /*Autora*/

    .main__video{
        width: 100%;
    }
    
    .main__section--1{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    

    .main__parrafo{
        margin: auto;
        width: 95%;
    }
    .main__foto--inline{
        width:100%;
    }
    .main__foto--padding{
        padding:0;
        width: 90%;
    }
    
    .main__video{
        text-align: center;
        padding-bottom: 50px;
        width: 100%;
    }
}

 @media (min-width:321px) and (max-width: 507px) {

    
    .header__link--logo{
        margin: auto;
        justify-content: center;
        width: 50%;
    }

    .header__logo{
        margin: auto;
        width: 100%;
    }
    header{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .menu{
        justify-content: center;
        align-items: center;
    }
    .menu__item{  
        display:flex;
        justify-content: center;
        align-items: center;
    }

    ul{
        padding: 0;
    }

    .HPFont{
        font-size: 70px;
    }

    .footer__text{
        margin: 1rem;
    }

    .footer__imagenes{
        width: auto;
    }

    div a img{
        width:30px;
    }

    .container{
        max-width: 90% ;
    }

    .main__flex{
        max-width: 100%;
        align-items: center;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .main__texto{
        width: 90%;
    }

    .background__transparent{
        width: 90%;
    }

    .main__subtitulo{
        font-size: 30px;
    }

    /*Autora*/
    .main__video{
        width: 100%;
    }
    
    .main__section--1{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    

    .main__parrafo{
        margin: auto;
        width: 95%;
    }
    .main__foto--inline{
        width:100%;
    }
    .main__foto--padding{
        padding:0;
        width: 90%;
    }
    
    .main__video{
        text-align: center;
        padding-bottom: 50px;
        width: 100%;
    }
} 
@media (min-width: 507px) and (max-width: 768px){
    .header__link--logo{
        margin: auto;
        justify-content: center;
        width: 50%;
    }

    .header__logo{
        margin: auto;
        width: 100%;
    }
    header{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .menu{
        justify-content: center;
        align-items: center;
    }
    .menu__item{  
        display:flex;
        justify-content: center;
        align-items: center;
    }

    ul{
        padding: 0;
    }

    .HPFont{
        font-size: 130px;
    }

    .footer__text{
        margin: 1rem;
    }

    .footer__imagenes{
        width: auto;
    }

    div a img{
        width:50px;
    }

    .container{
        max-width: 90% ;
    }

    .main__flex{
        max-width: 100%;
        align-items: center;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .main__texto{
        width: 90%;
    }

    .background__transparent{
        width: 90%;
    }

    /*Autora*/
    .main__video{
        width: 100%;
    }
    
    .main__section--1{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    

    .main__parrafo{
        margin: auto;
        width: 95%;
    }
    .main__foto--inline{
        width:100%;
    }
    .main__foto--padding{
        padding:0;
        width: 90%;
    }
    
    .main__video{
        text-align: center;
        padding-bottom: 50px;
        width: 100%;
    }
}

@media (min-width:769px) and (max-width: 958px) {
    header{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .header__link--logo{
        margin: auto;
    }

    .main__flex{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .HPFont{
        font-size: 130px;
    }

    .footer__text{
        margin: 1rem;
    }

    .footer__imagenes{
        width: auto;
    }

    div a img{
        width:50px;
    }

    .container{
        max-width: 90% ;
    }

    .main__flex{
        max-width: 100%;
        align-items: center;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .main__texto{
        width: 90%;
    }

    .background__transparent{
        width: 90%;
    }

    /*Autora*/
    .main__video{
        width: 100%;
    }
    
    .main__section--1{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    

    .main__parrafo{
        margin: auto;
        width: 95%;
    }
    .main__foto--inline{
        width:100%;
    }
    .main__foto--padding{
        padding:0;
        width: 90%;
    }
    
    .main__video{
        text-align: center;
        padding-bottom: 50px;
        width: 100%;
    }
}